#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}



.logout-btn {
    background-color: #dc3545;
    color: white;
  }
  
.logout-btn:hover {
      background-color: #c82333;
  }
